<!DOCTYPE html>
<html lang="en">

<!-- Header -->

<head>
    <title>Resources - ForTheContent</title>
    <meta name="description" content="A library of learning resources for content creators">
    <meta name="author" content="ForTheContent">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="theme-color" content="#1a1e23">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Resources - ForTheContent">
    <meta property="og:description" content="A library of learning resources for content creators">
    <meta property="og:image" content="https://forthecontent.xyz/images/forthecontent_a_discord_server_for_content_creators.png">

    <meta property="og:url" content="https://forthecontent.xyz/">
    <meta property="og:site_name" content="ForTheContent">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Resources - ForTheContent">
    <meta name="twitter:description" content="A library of learning resources for content creators">
    <meta name="twitter:image" content="https://forthecontent.xyz/images/forthecontent_a_discord_server_for_content_creators.png">
    <meta name="twitter:site" content="@forthecontent">
    <meta name="keywords" content="discord server for content creators, content creator discord server, discord server for small content creators">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://forthecontent.xyz/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="https://forthecontent.xyz/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://forthecontent.xyz/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://www.delac.io/WOW/css/libs/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- WOW Animation -->
    <script src="https://www.delac.io/WOW/dist/wow.min.js"></script>
    <script>
        wow = new WOW({ mobile: true });
        wow.init();
    </script>
    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/sn859udbwuko5zl0h8tp6q4dv6xil8zqzr15o6cs04pnkry0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        const resource = '<p><img style="display: block; margin-left: auto; margin-right: auto;" src="" alt="" width="960" height="540"></p>' +
            '<p>&nbsp;</p>'

        const isSmallScreen = window.matchMedia('(max-width: 1023.5px)').matches;
        tinymce.init({
            selector: "textarea#new-resource-post",
            plugins: 'preview importcss searchreplace autolink autosave directionality code visualblocks visualchars fullscreen image link media template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap emoticons',
            editimage_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsize blocks | forecolor backcolor removeformat | alignleft aligncenter alignright alignjustify | fullscreen preview | image media template link anchor codesample | outdent indent |  numlist bullist | pagebreak | charmap emoticons | ltr rtl',
            toolbar_sticky: true,
            toolbar_sticky_offset: 60,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_ask_before_unload: false,
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            importcss_append: true,
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            contextmenu: 'link image table',
            templates: [
                {
                    title: 'Non-editable Example',
                    description: 'Non-editable example.',
                    content: resource
                }
            ]
        });
    </script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="home child__page">
    <!-- Navbar -->
    <%- include('../partials/home/navbar') -%>

    <!-- Header -->
    <div class="main-div">
        <main class="page__content page--transition-fade" data-swup="0">
            <div class="section__bg-color section__bg-cover__sm section hero__promo">
                <div class="hero__container container container--responsive-padding container--very-wide">
                    <div class="hero__promo__wrapper">
                        <div class="hero__promo__text-col content__area">
                            <h1 class="hero__promo__heading js--text-rotation"><span class="sub__text">Resources</span></h1>
                            <div class="component__hero__info hero__info hero__promo__info content__area">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Page body -->
    <div class="wp-block-vbi-section softer-white section__bg-color section body__section">
        <div class="container content__area container--very-wide container--responsive-padding">
            <div class="wp-block-vbi-two-column-layout row content__area row--center content__res">
                <div class="wp-block-vbi-column-layout col col--md-6 content__area content__res">

                    <h2>New Resource Post</h2>

                    <div class="res-form">
                        <label for="resource-title">Title <i class="bi bi-question-circle label-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" title="The title of your post (15-80 characters)"></i></label><br>
                        <input class="res-input" id="resource-title" name="resource-title" minlength=15 maxlength=80 required>
                        <br>

                        <label for="resource-snippet">Snippet <i class="bi bi-question-circle label-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" title="A short description about, or exerpt from your post (50-200 characters)"></i></label><br>
                        <input class="res-input" id="resource-snippet" name="resource-snippet" type="text" minlength=50 maxlength=200 required>

                        <label for="category-selector">Categories <i class="bi bi-question-circle label-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" title="Select any relative categories for your post"></i></label>
                        <div class="category-selector">
                            <input type="checkbox" id="tutorials" name="categories" value="tutorials"><label class="mark-checked" for="tutorials">tutorials</label>
                            <input type="checkbox" id="tips & advice" name="categories" value="tips & advice"><label class="mark-checked" for="tips & advice">tips & advice</label>
                            <input type="checkbox" id="graphics" name="categories" value="graphics"><label class="mark-checked" for="graphics">graphics</label>
                            <input type="checkbox" id="animation" name="categories" value="animation"><label class="mark-checked" for="animation">animation</label>                            
                            <input type="checkbox" id="news" name="categories" value="news"><label class="mark-checked" for="news">news</label>
                            <input type="checkbox" id="seo" name="categories" value="seo"><label class="mark-checked" for="seo">seo</label>
                            <input type="checkbox" id="tools" name="categories" value="tools"><label class="mark-checked" for="tools">tools</label>
                            <input type="checkbox" id="hardware" name="categories" value="hardware"><label class="mark-checked" for="hardware">hardware</label>
                            <input type="checkbox" id="recommendation" name="categories" value="recommendation"><label class="mark-checked" for="recommendation">recommendation</label>
                        </div>

                        <label for="new-resource-post">Body <i class="bi bi-question-circle label-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" title="The main content of your post"></i></label><br>
                        <textarea id="new-resource-post">

                        </textarea>

                        <div class="button-wrapper d-flex">
                            <button type="submit" class="button button--secondary button--dense post-submit" onclick="submitPost()">Submit</button>
                            <button class="button button--quaternary button--dense" onclick="window.location='/resources'">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Toast Error -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="unknownToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-light bg-danger">
                An unknown error occured. Please save your work and try again
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="titleToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-light bg-danger">
                You must include <span class="error-type"></span>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/home/footer') -%>
    <script src="/scripts/resources.js"></script>
    <script src="/scripts/bootstrap.js"></script>
</body>