<div class="dropdown-nav" id="dropdown-nav-hidden">
    <ul>
        <li class="dd-list">
            <a href="/dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text" id="nav-text">
                    Dashboard
                </span>
            </a>
        </li>

        <!-- Group -->
        <div class="dd-title-div" id="group-two-visible">
            <div class="dd-title">Applications</div>
            <button class="fa-solid fa-angle-up" id="collapse-two"></button>
        </div>


        <div class="group-two">
            <li class="dd-list">
                <a href="/apply">
                    <i class="fa-solid fa-table-list"></i>
                    <span class="nav-text" id="nav-text">
                        Apply For Staff
                    </span>
                </a>
            </li>
        </div>

        <!-- Group -->
        <div class="dd-title-div" id="group-three-visible">
            <div class="dd-title">Creator Crew</div>
            <button class="fa-solid fa-angle-up" id="collapse-three"></button>
        </div>


        <div class="group-three">
            <li class="dd-list">
                <a href="/creatorcrew">
                    <i class="fa-solid fa-crown"></i>
                    <span class="nav-text" id="nav-text">
                        Creator Crew Queue
                    </span>
                </a>
            </li>
        </div>

        <!-- Group -->
        <div class="dd-title-div" id="group-four-visible">
            <div class="dd-title">Leaderboards</div>
            <button class="fa-solid fa-angle-up" id="collapse-four"></button>
        </div>


        <div class="group-four">
            <li class="dd-list">
                <a href="/leaderboards/ranks">
                    <i class="fa fa-ranking-star"></i>
                    <span class="nav-text" id="nav-text">
                        Ranks
                    </span>
                </a>

            </li>
            <li class="dd-list">
                <a href="/leaderboards/messages">
                    <i class="fa fa-comments"></i>
                    <span class="nav-text" id="nav-text">
                        Messages
                    </span>
                </a>

            </li>
            <li class="dd-list">
                <a href="/leaderboards/lastletter">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    <span class="nav-text" id="nav-text">
                        Last Letter Game
                    </span>
                </a>

            </li>
            <li class="dd-list">
                <a href="/leaderboards/counting">
                    <i class="fa-solid fa-arrow-down-1-9"></i>
                    <span class="nav-text" id="nav-text">
                        Counting Game
                    </span>
                </a>
            </li>
        </div>
    </ul>
</div>