<!DOCTYPE html>
<html lang="en">

<!-- Start Header -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <meta name="theme-color" content="#1F2129">
    <meta name="description"
        content="ForTheContent is a dashboard for interfacing with the ForTheContent Discord server and 4DC, the official bot of ForTheContent">
    <meta property="og:title" content="ForTheContent Dashboard">
    <meta property="og:description"
        content="ForTheContent is a dashboard for interfacing with the ForTheContent Discord server and 4DC, the official bot of ForTheContent">
    <meta property="og:image" content="/images/og_image.png">
    <meta name="keywords"
        content="forthecontent, creatorhub, 4dc, dashboard, discord, discord bot, content creator, community, youtube, twitch">
    <meta name="author" content="ProbablyRaging">

    <title>ForTheContent Dashboard</title>

    <link rel="apple-touc{h-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <!-- MBD -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" /> -->
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Oswald:wght@200;400&family=Raleway:wght@300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<!-- End Header -->

<!-- Start Body -->

<body>
    <div class="page-mount" id="page-mount container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <div class="nav-brand">
                    <a href="/">
                        <p class="nav-text">ForTheContent</p>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="nav-button fa-solid fa-bars"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <button class="login-button" onclick="window.location='/auth'">
                                Sign in to Dashboard
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <script>
            $(function () {
                $('#accordian h3').click(function () {
                    $(this).parent().parent().find('ul').slideUp(150);
                    if (!$(this).next().is(":visible")) {
                        $(this).next().slideDown(150);
                    }

                });
            });
        </script>

        <div class="privacy-content">
            <div class="ccinfo-content-inner">
                <div class="content-wrapper">
                    <div class="flex-container">
                        <div class="main-conainer">
                            <div class="ccinfo-page">
                                <h1 class="content-head">
                                    Creator Crew
                                </h1>

                                <hr class="content-box-separator">

                                <div class="content-description">
                                    <h2>What Is Creator Crew?</h2>
                                    Creator Crew is a give and receive support system for YouTube content creators. It
                                    will allow you to gain more views, likes, and watch time on your
                                    videos, while also giving back the same type of support to your fellow content
                                    creators
                                    <br><br>
                                    Certain video interactions and analytics such as likes and watch time are proven to
                                    be helpful when it comes to having your videos shown to others, in places like the
                                    home page and recommended list
                                    <br><br>
                                    In short, you will post a link to your video, other people will watch and like your
                                    video and you will do the same for them in return
                                    <br><br>

                                    <h2>How Does It Work?</h2>
                                    <div id="accordian">
                                        <ul class="accordian">
                                            <li>
                                                <h3>Posting your video <span>
                                                        <tooltip>(click to expand)</tooltip>
                                                    </span></h3>
                                                <ul>
                                                    <li>
                                                        Visit the <a
                                                            href="https://discord.com/channels/820889004055855144/820909722458652674"
                                                            target="_blank">ForTheContent Discord server</a> and post a
                                                        link to your video in the <a
                                                            href="https://discord.com/channels/820889004055855144/841568782992277524"
                                                            target="_blank">
                                                            <channel>#👑｜creator-crew</channel>
                                                        </a>&nbsp;channel <i>(one video link every 24 hours)</i>
                                                    </li>
                                                    <br>
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/9jKDC91EkzY"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </ul>
                                            </li>
                                            <li>
                                                <h3>Viewing your queue <span>
                                                        <tooltip>(click to expand)</tooltip>
                                                    </span></h3>
                                                <ul>
                                                    <li>Visit the <a href="/creatorcrew" target="_blank">Creator
                                                            Crew Queue</a> page and
                                                        sign in via Google. Here you will see a list of all the videos
                                                        currently in your queue which are ready to be watched and liked
                                                    </li>
                                                    <br>
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/RhTv7jAO_fY"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </ul>
                                            </li>
                                            <li>
                                                <h3></span>Liking videos <span>
                                                        <tooltip>(click to expand)</tooltip>
                                                    </span></h3>
                                                <ul>
                                                    <li>Open each video in your queue on YouTube by clicking on the
                                                        video's title, then like the video <br>
                                                        Once you have liked the videos, refresh the queue page and you
                                                        will see the <i class="fa-solid fa-thumbs-up liked"></i>
                                                        <i>(like indicator)</i> below the video will be green
                                                    </li>
                                                    <br>
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/ERzZu748L1s"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </ul>
                                            </li>
                                            <li>
                                                <h3>Watching videos <span>
                                                        <tooltip>(click to expand)</tooltip>
                                                    </span></h3>
                                                <ul>
                                                    <li>Play each video in your queue for a miniumum of 10 minutes. If a
                                                        video is shorter than 10 minutes you only need to watch the full
                                                        video once <br>
                                                        Once the minimum watch time is complete, the <i
                                                            class="fa-solid fa-circle status-watched"></i> <i>(status
                                                            indicator)</i> will turn green <br>
                                                        You can now refresh the queue page and check that any completed
                                                        videos were removed from your queue successfully
                                                    </li>
                                                    <br>
                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/QyHOVeq0Qvc"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>

                                    <h2>Requirements</h2>
                                    <ul>
                                        <li>
                                            <strong>1.</strong> You must watch your queue at least once every 3 days -
                                            videos older than 3 days will be flagged and you may be removed from the
                                            group without notice
                                        </li>
                                        <li><strong>2.</strong> You must like, and watch each video for a minimum of 10
                                            minutes for it to be removed from your queue
                                        </li>
                                        <li><strong>3.</strong> You must not skip or seek through any portion of the
                                            video
                                        </li>
                                        <li><strong>4.</strong> You must notify a staff member if you are unable to meet
                                            these requirements before hand
                                        </li>
                                    </ul>
                                    <br>

                                    <h2>Why Do I Need To Sign In?</h2>
                                    Discord sign in is required in order to verify you are
                                    actually a member of the server and that you have the Creator Crew role<br>
                                    Google sign in is required in order to confirm you are meeting
                                    the
                                    requirements of being in Creator Crew, such as making sure you are
                                    completing
                                    your watch time and liking videos
                                    <br><br>
                                    For more information, take a look at our <a href="/privacy" target="_blank">Privacy
                                        Policy</a>
                                    <br><br>

                                    <div class="body-buttons">
                                        <button class="btn-signin" onclick="window.location='/auth'" name="signin">
                                            Sign in via Discord
                                        </button>
                                        <button class="btn-join"
                                            onclick="location.href = 'https://www.discord.gg/forthecontent'"
                                            name="join">
                                            Join ForTheContent
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <%- include('../partials/footer') -%>