<%- include('../partials/header') -%>

<div class="content-page-title">
    <p class="content-page-header">Welcome back, <%= username %>
    </p>
</div>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <i class="fa-solid fa-bell"></i> The light/dark mode switch has been moved to the user settings menu in the bottom left
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div>
    <div class="content-box-content" id="content-two">
        <!-- Dashboard Button -->
        <div class="content-box-button" onclick="location.href = '/applications';">
            <h5 class="button-title">Applications</h5>
            <div class="button-description">View new and old staff applications</div>
        </div>

        <div class="content-box-button" onclick="location.href = '/creatorcrew';">
            <h5 class="button-title">Creator Crew Queue</h5>
            <div class="button-description">Watch and like your Creator Crew queue videos</div>
        </div>

        <div class="content-box-button" onclick="location.href = '/leaderboards/ranks';">
            <h5 class="button-title">Ranks</h5>
            <div class="button-description">A leaderboard for the server ranks</div>
        </div>

        <!-- Dashboard Button -->
        <div class="content-box-button" onclick="location.href = '/leaderboards/messages';">
            <h5 class="button-title">Messages</h5>
            <div class="button-description">A leaderboard for the server messages</div>
        </div>

        <!-- Dashboard Button -->
        <div class="content-box-button" onclick="location.href = '/leaderboards/lastletter';">
            <h5 class="button-title">Last Letter Game</h5>
            <div class="button-description">A leaderboard for the last letter game</div>
        </div>

        <!-- Dashboard Button -->
        <div class="content-box-button" onclick="location.href = '/leaderboards/counting';">
            <h5 class="button-title">Counting Game</h5>
            <div class="button-description">A leaderboard for the counting game</div>
        </div>
    </div>
</div>

<%- include('../partials/footer') -%>