<!DOCTYPE html>
<html lang="en">

<!-- Start Header -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <meta name="theme-color" content="#1F2129">
    <meta name="description"
        content="CHDashboard is a dashboard for interfacing with the CreatorHub Discord server and CreatorBot, the official bot of CreatorHub">
    <meta property="og:title" content="CreatorHub Dashboard">
    <meta property="og:description"
        content="CHDashboard is a dashboard for interfacing with the CreatorHub Discord server and CreatorBot, the official bot of CreatorHub">
    <meta property="og:image" content="/images/og_image.png">
    <meta name="keywords"
        content="creatorhub, creatorbot, dashboard, discord, discord bot, content creator, community, youtube, twitch">
    <meta name="author" content="ProbablyRaging">

    <title>CHDashboard</title>

    <link rel="apple-touc{h-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <!-- MBD -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" /> -->
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Oswald:wght@200;400&family=Raleway:wght@300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<!-- End Header -->
<!-- Start Body -->

<body>

    <div class="topbar-wrapper">
        <a href="/">
            <div class="logo-wrapper">
                <div class="nav-logo-div">
                    <img src="images/chd-logo.webp" class="nav-logo" id="nav-logo">
                    <p id="nav-text-one">CH</p>
                    <p id="nav-text-two">Dashboard</p>
                </div>
            </div>
        </a>
        <div class="topbar-nav">
            <div class="nav-items">
                <a href="/" class="link">Home</a>
                <a href="/about" class="link">About</a>
                <a href="/privacy" class="link">Privacy Policy</a>
            </div>
            <button class="login-button" onclick="window.location='/auth'">
                Sign in via Discord
            </button>
        </div>
    </div>

    <div class="flex-box">
        <div class="body-wrapper">
            <div class="main-conainer">
                <h1 class="content-head">
                    CreatorHub Discord Server
                </h1>
                <div class="content-description">
                    CreatorHub is a growing community of content creators, game developers, musicians, and gamers alike
                    <br><br>
                    We are a peer-to-peer help and advice server that aims to connect like-minded people from all around
                    the world, together in a friendly and welcoming environment
                </div>
                <div class="content-body">
                    <ul class="body-list">
                        <li class="body-list-item">
                            <div class="list-div">
                                <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/8021/8021791.png">
                            </div>
                            <span>Help & Advice</span>
                        </li>
                        <li class="body-list-item">
                            <div class="list-div">
                                <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/2919/2919740.png">
                            </div>
                            <span>Video & GFX Reviews</span>
                        </li>
                        <li class="body-list-item">
                            <div class="list-div">
                                <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/3314/3314642.png">
                            </div>
                            <span>Looking For Groups</span>
                        </li>
                        <li class="body-list-item">
                            <div class="list-div">
                                <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/743/743007.png">
                            </div>
                            <span>Online Marketplace</span>
                        </li>
                    </ul>

                    <div class="body-buttons">
                        <button class="btn-signin" onclick="window.location='/auth'">
                            Sign in via Discord
                        </button>
                        <button class="btn-join" onclick="location.href = 'https://www.discord.gg/creatorhub'">
                            Join CreatorHub
                        </button>
                    </div>
                </div>
            </div>

            <div class="iframe-container">
                <iframe class="discord-iframe" src="https://discord.com/widget?id=820889004055855144&theme=dark"
                    width="350" height="500" allowtransparency="true" frameborder="0"
                    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>

        <div class="mock-wrapper-light">
            <p class="mock-header">Connect With Other Creators</p>
            <p class="mock-description">Meet and chat with other content creators, in all niches, from all around the
                world</p>
            <img class="mock-image" src="/images/mock_one.png">
        </div>

        <div class="mock-wrapper-dark">
            <p class="mock-header">Share Your Content</p>
            <p class="mock-description">Share your content, creation or project for everyone to see. This is a great
                way to get more eyes on whatever it is that you are passionately working on</p>
            <img class="mock-image" src="/images/mock_two.png">
        </div>

        <div class="mock-wrapper-alt">
            <div class="mock-info">
                <p class="mock-header-alt">More exposure with Creator Crew</p>
                <p class="mock-description-alt">Creator Crew is a give and receive support system for YouTube content
                    creators. It will allow you to gain more views, likes, and watch time on your videos, while also
                    giving back the same type of support to your fellow content creators
                    <br><br>
                    Certain video interactions and analytics such as likes and watch time are proven to be helpful when
                    it comes to having your videos shown to others, in places like the home page and recommended list
                    <br><br>
                    In short, you will post a link to your video, other people will watch and like your video and you
                    will do the same for them in return
                    <br><br>
                    <a href="/ccinfo">Learn more</a>
                </p>
            </div>
            <img class="mock-image-alt" src="/images/cc_noti.png">
        </div>

        <div class="testimony-wrapper">
            <div class="banner-wrapper">
                <div class="banner-body"><img
                        src="https://uploads-ssl.webflow.com/61faf45c39183b1a95adaaec/61fc2aa8fe060a1d21bd02df_wreath-left.svg"
                        loading="lazy" width="75" height="135" alt="" class="banner-wreath banner-wreath---left"><img
                        src="https://uploads-ssl.webflow.com/61faf45c39183b1a95adaaec/61fc2aa87fdc8d07ec731fa6_wreath-right.svg"
                        loading="lazy" width="75" height="135" alt="" class="banner-wreath banner-wreath---right">
                    <p class="banner-title">Voted "Best Discord Server For Content Creators" - Everyone</p>
                    <p class="banner-subtitle"><i class="total-member-count"> <%= totalMembers %></i> members and
                        growing</p>
                </div>
            </div>

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="review-image" src="/images/review-one.png">
                        <img class="review-image" src="/images/review-three.png">
                        <img class="review-image" src="/images/review-two.png">
                    </div>
                    <div class="carousel-item">
                        <img class="review-image" src="/images/review-four.png">
                        <img class="review-image" src="/images/review-five.png">
                        <img class="review-image" src="/images/review-six.png">
                    </div>
                    <div class="carousel-item">
                        <img class="review-image" src="/images/review-seven.png">
                        <img class="review-image" src="/images/review-eight.png">
                        <img class="review-image" src="/images/review-nine.png">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="page-end-wrapper">
            <div class="footer-wrapper">
                <h3 class="footer-text">
                    We also provide help and support for platforms and software such as
                </h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><img src="/images/1384060.webp">
                    </li>
                    <li class="footer-list-item"><img src="/images/5968819.webp">
                    </li>
                    <li class="footer-list-item"><img src="/images/3046121.webp">
                    </li>
                    <li class="footer-list-item"><img src="/images/2yTtQc8.webp"></li>
                    <li class="footer-list-item"><img src="/images/HnKJepU.png"></li>
                </ul>
            </div>
        </div>
    </div>


    <%- include('../partials/footer') -%>