<%- include('partials/header') -%>
    <%- include('partials/mainnav') -%>

        <div style="padding: 50px;">

            <div class="category-container">
                <div>

                    <div class="category-title">
                        Logs
                    </div>
                    <div class="button-container">
                        <section class="category-button" onclick="location.href='/logs/warnings';">
                            <i class="fa fa-exclamation-triangle"></i> Warnings
                        </section>
                        <section class="category-button">
                            <i class="fa fa-volume-off"></i> Mutes/Timeouts
                        </section>
                        <section class="category-button">
                            <i class="fa fa-wrench"></i> Bans/Unbans
                        </section>
                        <section class="category-button">
                            <i class="fa fa-shield"></i> Blacklisted Messages
                        </section>
                        <section class="category-button">
                            <i class="fa fa-tasks"></i> Commands
                        </section>
                    </div>

                    <div class="category-title">
                        Values
                    </div>
                    <div class="button-container">
                        <section class="category-button">
                            <i class="fa fa-exclamation-triangle"></i> Index
                        </section>
                        <section class="category-button">
                            <i class="fa fa-exclamation-triangle"></i> Rules
                        </section>
                    </div>

                </div>
            </div>

        </div>

        <%- include('partials/footer') -%>