<!DOCTYPE html>
<html lang="en">

<!-- Start Header -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>CHDashboard</title>

    <link rel="apple-touc{h-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <!-- MBD -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" /> -->
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Oswald:wght@200;400&family=Raleway:wght@300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- YouTube -->
    <script src="https://www.youtube.com/iframe_api"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<!-- End Header -->

<!-- Start Body -->

<body>
    <div class="page-mount" id="page-mount container-fluid">
        <div class="topbar">
            <div class="topbar-flex">
                <a href="/">
                    <div class="logo-wrapper">
                        <div class="nav-logo-div">
                            <img src="https://cdn.discordapp.com/icons/820889004055855144/a_aabe3c2a811fb30195d2cf76b9aaa437.gif"
                                class="nav-logo" id="nav-logo">
                            <p id="nav-text-one">CH</p>
                            <p id="nav-text-two">Dashboard</p>
                        </div>
                    </div>
                </a>
                <div class="topbar-nav">
                    <div class="nav-items">
                        <a href="/" class="link">Home</a>
                        <a href="/about" class="link">About</a>
                        <a href="/privacy" class="link">Privacy Policy</a>
                    </div>
                    <button class="login-button" onclick="window.location='/auth'">
                        Sign in via Discord
                    </button>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="content-wrapper">
                    <div class="flex-container">
                        <div class="main-conainer">
                            <h1 class="content-head">
                                CreatorHub Dashboard
                            </h1>
                            <div class="content-description">
                                Edit bot configs, view leaderboards and ranks, watch your Creator Crew queue, and much more..
                            </div>
                            <div class="content-body">
                                <ul class="body-list">
                                    <li class="body-list-item">
                                        <div class="list-div">
                                            <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/3953/3953226.png">
                                        </div>
                                        <span>Bot configuration</span>
                                    </li>
                                    <li class="body-list-item">
                                        <div class="list-div">
                                            <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/1007/1007223.png">
                                        </div>
                                        <span>Leaderboards</span>
                                    </li>
                                    <li class="body-list-item">
                                        <div class="list-div">
                                            <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/490/490576.png">
                                        </div>
                                        <span>Ranks</span>
                                    </li>
                                    <li class="body-list-item">
                                        <div class="list-div">
                                            <img class="list-img" src="https://cdn-icons-png.flaticon.com/512/1179/1179069.png">
                                        </div>
                                        <span>Creator Crew Queue</span>
                                    </li>
                                </ul>

                                <div class="body-buttons">
                                    <button class="btn-signin" onclick="window.location='/auth'">
                                        Sign in via Discord
                                    </button>
                                    <button class="btn-join" onclick="location.href = 'https://www.discord.gg/creatorhub'">
                                        Join Discord
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="iframe-container">
                            <iframe class="discord-iframe" src="https://discord.com/widget?id=820889004055855144&theme=dark" width="350"
                                height="500" allowtransparency="true" frameborder="0"
                                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-wrapper">
                <h3 class="footer-text">
                    We provide help for platforms and software such as..
                </h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png"></li>
                    <li class="footer-list-item"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968819.png"></li>
                    <li class="footer-list-item"><img src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png"></li>
                    <li class="footer-list-item"><img src="https://i.imgur.com/2yTtQc8.png"></li>
                    <li class="footer-list-item"><img src="https://i.imgur.com/HnKJepU.png"></li>
                </ul>
            </div>
        </div>

        <%- include('partials/footer') -%>