.topbar-bg-dark {
    background-color: #1F2129 !important;
    /* background-image: linear-gradient(to bottom, #252730, #1F2129); */
}

.mb-4 {
    margin-bottom: 0px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.topbar-search {
    color: rgb(155, 157, 159) !important;
    background-color: rgb(23, 24, 30);
    border: none;
}

.topbar-search:focus {
    background-color: rgb(23, 24, 30);
    border: none !important;
}

.user-info {
    display: block;
}

.nav-item.user {
    color: #6c757d;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: -5px;
}

.nav-item.userId {
    float: right;
    font-size: 8px;
    color: #6c757d;
    margin-right: 15px;
}

.navbar .user-discord-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-dropdown {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.profile-dropdown .fa-angle-down {
    width: 40px !important;
}

#profile-dropdown-chevron {
    color: #999;
    background: none;
    border: none;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    outline: none;
    cursor: pointer;
    margin-top: 6px;
    transition: transform 0.15s ease-out 0s;
}

#profile-dropdown-chevron-open {
    transition: transform 0.15s ease-out 0s;
    transform: rotate(180deg);
}

.dropdown-menu {
    padding-left: 10px;
    --bs-dropdown-color: rgb(155, 157, 159);
    background: rgb(23, 24, 30);
    right: 5% !important;
    margin-right: 10px !important;
    margin-top: 65px !important;
}

.dropdown-menu>li:hover {
    color: #fff !important;
}

.profile-dropdown .fa {
    font-size: 16px;
    padding-right: 10px;
}

.profile-dropdown .fa-power-off {
    color: rgb(210, 45, 45);
}