.top-bar {
    display: none;
    background-color: var(--nav-bg) !important;
    padding: 12px;
    margin-bottom: 16px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 4px 0;
}

.nav-brand {
    font-size: 22px !important;
    float: right;
    color: var(--nav-text);
    transform: scale(1, 1.3);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    user-select: none;
}

.nav-brand:hover {
    color: var(--nav-text);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-menu-icon {
    color: var(--nav-text);
    font-size: 24px;
}

.navbar-collapse {
    margin-top: 20px;
}

.drop-link {
    display: block;
    color: var(--nav-text);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.drop-link:hover {
    color: var(--nav-text);
    background-color: var(--nav-hov);
}

.drop-link.active {    
    color: var(--nav-text) !important;
    background-color: var(--nav-hov) !important;
}