<!DOCTYPE html>
<html lang="en">

<!-- Header -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <meta name="theme-color" content="#1a1e23">
    <meta name="description" content="ForTheContent Privacy Policy">
    <meta property="og:title" content="ForTheContent - Privacy Policy">
    <meta property="og:description" content="ForTheContent Privacy Policy">
    <meta property="og:image" content="/images/og_image.png">
    <meta name="keywords" content="forthecontent, discord server, content creators, content creator, discord, youtube, twitch, instagram, tiktok, snapchat, help and advice, support, community, content, creator, youtuber, streamer">
    <meta name="author" content="ProbablyRaging">

    <title>ForTheContent - Blog</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://www.delac.io/WOW/css/libs/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Editor -->
    <script src="https://cdn.tiny.cloud/1/sn859udbwuko5zl0h8tp6q4dv6xil8zqzr15o6cs04pnkry0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- WOW Animation -->
    <script src="https://www.delac.io/WOW/dist/wow.min.js"></script>
    <script>
        wow = new WOW({ mobile: true });
        wow.init();

        tinymce.init({
            selector: "blog-editor",
            inline: true,
            plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons',
            imagetools_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | charmap emoticons | fullscreen preview | image media link anchor codesample | ltr rtl',
        });
    </script>

    <script src="/scripts/home.js"></script>


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="home child__page">
    <!-- Navbar -->
    <%- include('../partials/home/navbar') -%>

    <!-- Header -->
    <div class="main-div">
        <main class="page__content page--transition-fade" data-swup="0">
            <div class="section__bg-color section__bg-cover__sm section hero__promo">
                <div class="hero__container container container--responsive-padding container--very-wide">
                    <div class="hero__promo__wrapper">
                        <div class="hero__promo__text-col content__area">
                            <h1 class="hero__promo__heading js--text-rotation"><span class="sub__text">Blog</span></h1>
                            <div class="component__hero__info hero__info hero__promo__info content__area">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Page body -->
    <div class="wp-block-vbi-section softer-white section__bg-color section body__section">
        <div class="container content__area container--very-wide container--responsive-padding">
            <div class="wp-block-vbi-two-column-layout row content__area row--center">
                <div class="wp-block-vbi-column-layout col col--md-6 content__area">
                    <div id="blog-editor">Click here to edit!</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/home/footer') -%>
</body>