<div class="main-menu" id="main-menu-visible">
    <div class="nav-logo-div">
        <button class="fa-solid fa-arrow-right-to-bracket nav-toggle-button" id="navbar-hide" name="..."></button>
        <p id="nav-text-two">AdminCP</p>
    </div>

    <ul>
        <li class="nav-list">
            <a href="/dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text" id="nav-text">
                    Dashboard
                </span>
            </a>
        </li>

        <div class="list-title-" id="group-one-visible">
            <div class="list-title">Collections</div>
        </div>

        <li class="nav-list">
            <a href="/admincp/users">
                <i class="fa fa-home fa-user-group"></i>
                <span class="nav-text" id="nav-text">
                    Users
                </span>
            </a>
        </li>

        <li class="nav-list">
            <a href="/admincp/queues">
                <i class="fa fa-home fa-video"></i>
                <span class="nav-text" id="nav-text">
                    Queues
                </span>
            </a>
        </li>
    </ul>
</div>