<div class="main-menu" id="main-menu-visible">
    <div class="nav-logo-div">
        <button class="fa-solid fa-arrow-right-to-bracket nav-toggle-button" id="navbar-hide" name="..."></button>
        <p id="nav-text-two">AdminCP</p>
    </div>

    <ul>
        <li class="nav-list">
            <a href="/dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text" id="nav-text">
                    Dashboard
                </span>
            </a>
        </li>
    </ul>
</div>