<div class="main-menu" id="main-menu">
    <div class="nav-logo-div">
        <button class="fa-solid fa-bars nav-back-button" id="navbar-hide-show"></button>
        <img src="https://cdn.discordapp.com/icons/820889004055855144/a_aabe3c2a811fb30195d2cf76b9aaa437.gif"
            class="nav-logo">
        <p id="nav-text-one">CH</p>
        <p id="nav-text-two">Dashboard</p>
    </div>

    <ul>
        <li>
            <a href="/dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
        </li>

        <hr class="content-box-separator">
        <p class="list-title">Command Management</p>

        <li>
            <a href="/settings/index">
                <i class="fa-solid fa-file-invoice"></i>
                <span class="nav-text">
                    Index
                </span>
            </a>
        </li>
        <li>
            <a href="/settings/rules">
                <i class="fa-solid fa-scale-balanced"></i>
                <span class="nav-text">
                    Rules
                </span>
            </a>
        </li>

        <hr class="content-box-separator">
        <p class="list-title">Server Logs</p>


        <li class="has-subnav">
            <a href="/logs/warnings">
                <i class="fa fa-exclamation-triangle"></i>
                <span class="nav-text">
                    Warnings
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="/logs/mutes">
                <i class="fa fa-volume-xmark"></i>
                <span class="nav-text">
                    Mutes/Timeouts
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="/logs/bans">
                <i class="fa-solid fa-ban"></i>
                <span class="nav-text">
                    Bans/Unbans
                </span>
            </a>

        </li>
        <li>
            <a href="/logs/blacklists">
                <i class="fa-solid fa-crosshairs"></i>
                <span class="nav-text">
                    Blacklisted Messages
                </span>
            </a>
        </li>
        <li>
            <a href="/logs/commands">
                <i class="fa-solid fa-terminal"></i>
                <span class="nav-text">
                    Commands Usage
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="/auth/logout">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</div>

<script>
    // const targetDiv = document.getElementById("main-menu");
    // const btn = document.getElementById("navbar-hide-show");
    // btn.onclick = function() {
    //     if (targetDiv.style.display !== "none") {
    //         targetDiv.style.width = "55px";
    //     } else {
    //         targetDiv.style.display = "block";
    //     }
    // };
</script>