<div class="main-menu" id="main-menu-visible">
    <div class="nav-logo-div">
        <button class="fa-solid fa-arrow-right-to-bracket nav-toggle-button" id="navbar-hide"></button>
        <img src="https://cdn.discordapp.com/icons/820889004055855144/a_aabe3c2a811fb30195d2cf76b9aaa437.gif"
            class="nav-logo" id="nav-logo">
        <p id="nav-text-one">CH</p>
        <p id="nav-text-two">Dashboard</p>
    </div>

    <ul>
        <li class="nav-list">
            <a href="/dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text" id="nav-text">
                    Dashboard
                </span>
            </a>
        </li>

        <!-- Group -->
        <div class="list-title-div" id="group-one-visible">
            <div class="list-title">Command Management</div>
            <button class="fa-solid fa-angle-up" id="collapse-one"></button>
        </div>


        <div class="group-one">
            <li class="nav-list">
                <a href="/settings/rules">
                    <i class="fa-solid fa-scale-balanced"></i>
                    <span class="nav-text" id="nav-text">
                        Rules
                    </span>
                </a>
            </li>
        </div>

        <!-- Group -->
        <div class="list-title-div" id="group-two-visible">
            <div class="list-title">Staff Applications</div>
            <button class="fa-solid fa-angle-up" id="collapse-two"></button>
        </div>


        <div class="group-two">
            <li class="nav-list">
                <a href="/applications">
                    <i class="fa-solid fa-table-list"></i>
                    <span class="nav-text" id="nav-text">
                        Applications
                    </span>
                </a>
            </li>
        </div>

        <!-- Group -->
        <div class="list-title-div" id="group-three-visible">
            <div class="list-title">Creator Crew</div>
            <button class="fa-solid fa-angle-up" id="collapse-three"></button>
        </div>


        <div class="group-three">
            <li class="nav-list">
                <a href="/creatorcrew">
                    <i class="fa-solid fa-crown"></i>
                    <span class="nav-text" id="nav-text">
                        Creator Crew Queue
                    </span>
                </a>
            </li>
        </div>

        <!-- Group -->
        <div class="list-title-div" id="group-four-visible">
            <div class="list-title">Server Logs</div>
            <button class="fa-solid fa-angle-up" id="collapse-four"></button>
        </div>


        <div class="group-four">
            <li class="nav-list">
                <a href="/logs/warnings">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="nav-text" id="nav-text">
                        Warnings
                    </span>
                </a>

            </li>
            <li class="nav-list">
                <a href="/logs/mutes">
                    <i class="fa fa-volume-xmark"></i>
                    <span class="nav-text" id="nav-text">
                        Mutes/Timeouts
                    </span>
                </a>

            </li>
            <li class="nav-list">
                <a href="/logs/bans">
                    <i class="fa-solid fa-ban"></i>
                    <span class="nav-text" id="nav-text">
                        Bans/Unbans
                    </span>
                </a>

            </li>
            <li class="nav-list">
                <a href="/logs/message-deletes">
                    <i class="fa-solid fa-trash-can"></i>
                    <span class="nav-text" id="nav-text">
                        Message Deletes
                    </span>
                </a>
            </li>
            <li class="nav-list">
                <a href="/logs/blacklists">
                    <i class="fa-solid fa-crosshairs"></i>
                    <span class="nav-text" id="nav-text">
                        Blacklisted Messages
                    </span>
                </a>
            </li>
            <li class="nav-list">
                <a href="/logs/commands">
                    <i class="fa-solid fa-terminal"></i>
                    <span class="nav-text" id="nav-text">
                        Command Usage
                    </span>
                </a>
            </li>
        </div>

        <!-- Group -->
        <div class="list-title-div" id="group-five-visible">
            <div class="list-title">Leaderboards</div>
            <button class="fa-solid fa-angle-up" id="collapse-five"></button>
        </div>


        <div class="group-five">
            <li class="nav-list">
                <a href="/leaderboards/ranks">
                    <i class="fa fa-ranking-star"></i>
                    <span class="nav-text" id="nav-text">
                        Ranks
                    </span>
                </a>

            </li>
            <li class="nav-list">
                <a href="/leaderboards/messages">
                    <i class="fa fa-comments"></i>
                    <span class="nav-text" id="nav-text">
                        Messages
                    </span>
                </a>

            </li>
            <li class="nav-list">
                <a href="/leaderboards/lastletter">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                    <span class="nav-text" id="nav-text">
                        Last Letter Game
                    </span>
                </a>

            </li>
            <li class="nav-list">
                <a href="/leaderboards/counting">
                    <i class="fa-solid fa-arrow-down-1-9"></i>
                    <span class="nav-text" id="nav-text">
                        Counting Game
                    </span>
                </a>
            </li>
        </div>
</div>