<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark nav-bar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none navbrand">
        <span class="fs-4 nav-text">Creat</span><img src="/images/ch_logo.svg" alt="" class="brand-logo rgb"><span
            class="fs-4 nav-text">rHub</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link" aria-current="page">
                <i class="bi bi-house nav-icon"></i>
                Dashboard
            </a>
        </li>
        <% if (!admincp) { %>
        <li class="nav-item">
            <a href="/applications" class="nav-link" aria-current="page">
                <i class="bi bi-menu-button nav-icon"></i>
                Staff Applications
            </a>
        </li>
        <li class="nav-item">
            <a href="/creatorcrew" class="nav-link" aria-current="page">
                <i class="fa-regular fa-chess-king nav-icon"></i>
                Creator Crew Queue
            </a>
        </li>
        <% if (isStaff) { %>
        <li class="nav-item">
            <a href="/logs/warnings" class="nav-link" aria-current="page">
                <i class="bi bi-exclamation-triangle nav-icon"></i>
                Warnings
            </a>
        </li>
        <li class="nav-item">
            <a href="/logs/mutes" class="nav-link" aria-current="page">
                <i class="bi bi-mic-mute nav-icon"></i>
                Mutes & Timeouts
            </a>
        </li>
        <li class="nav-item">
            <a href="/logs/bans" class="nav-link" aria-current="page">
                <i class="bi bi-x-circle nav-icon"></i>
                Bans & Unbans
            </a>
        </li>
        <li class="nav-item">
            <a href="/logs/message-deletes" class="nav-link" aria-current="page">
                <i class="bi bi-trash nav-icon"></i>
                Deleted Messages
            </a>
        </li>
        <li class="nav-item">
            <a href="/logs/blacklists" class="nav-link" aria-current="page">
                <i class="bi bi-funnel nav-icon"></i>
                Blacklisted Messages
            </a>
        </li>
        <li class="nav-item">
            <a href="/logs/commands" class="nav-link" aria-current="page">
                <i class="bi bi-terminal nav-icon"></i>
                Command Usage
            </a>
        </li>
        <% } %>
        <li class="nav-item">
            <a href="/leaderboards/ranks" class="nav-link" aria-current="page">
                <i class="bi bi-trophy nav-icon"></i>
                Rank Leaderboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/leaderboards/messages" class="nav-link" aria-current="page">
                <i class="bi bi-chat-dots nav-icon"></i>
                Message Leaderboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/leaderboards/lastletter" class="nav-link" aria-current="page">
                <i class="bi bi-dpad nav-icon"></i>
                Last Letter Leaderboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/leaderboards/counting" class="nav-link" aria-current="page">
                <i class="bi bi-controller nav-icon"></i>
                Counting Leaderboard
            </a>
        </li>
        <% } else { %>
        <li class="nav-item">
            <a href="/admincp/users" class="nav-link" aria-current="page">
                <i class="bi bi-people nav-icon"></i>
                Users
            </a>
        </li>
        <li class="nav-item">
            <a href="/admincp/queues" class="nav-link" aria-current="page">
                <i class="bi bi-view-list nav-icon"></i>
                Queues
            </a>
        </li>
        <% } %>
    </ul>
    <hr>
    <div class="dropdown">
        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://cdn.discordapp.com/avatars/<%= userId %>/<%= avatar %>.webp" alt="" width="32" height="32"
                class="rounded-circle me-2 dropdown-user">
            <%= username.slice(0, 20) %>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <div class="theme-switch">
                <p class="theme-switch-title" id="theme-switch-title">Light On</p>
                <div class="form-check form-switch">
                    <input class="form-check-input light" type="checkbox" role="switch" id="theme-switch"
                        onchange="toggleTheme()">
                </div>
            </div>
            <div class="color-switch">
                <i class="bi bi-caret-left color-switches color-previous" onclick="colorPrev()"></i>
                <p class="current-color">Loading..</p>
                <i class="bi bi-caret-right color-switches color-next" onclick="colorNext()"></i>
            </div>
            <hr class="dropdown-divider">
            <% if (isStaff) { %>
            <li><a class="dropdown-item" href="/admincp">AdminCP</a></li>
            <% } %>
            <li>
            </li>
            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</div>