<div class="navbar navbar-expand-md navbar-dark topbar-bg-dark mb-4" role="navigation">
    <form class="d-flex" role="search">
        <input class="form-control me-2 topbar-search" type="search" placeholder="&#xF002 Search" style="font-family:Arial, FontAwesome"
            aria-label="Search" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
            title="This search box does nothing right now lol">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="user-info">
        <p class="nav-item user">
            <%= username %>
        </p>
        <p class="nav-item userId">
            ID: <%= userId %>
        </p>
    </div>

    <div class="dropstart profile-dropdown" id="profile-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://cdn.discordapp.com/avatars/<%= userId %>/<%= avatar %>.png" class="user-discord-pfp"">
        <button class="fa-solid fa-angle-down" id="profile-dropdown-chevron"></button>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li onclick="location.href='/privacy'"><i class="fa fa-masks-theater"></i>Privacy Policy</li>
            <hr class="content-box-separator">
            <li onclick="location.href='/auth/logout'"><i class="fa fa-power-off fa-2x"></i>Logout</li>
        </ul>
    </div>
</div>