<div class="navbar navbar-expand-md navbar-dark topbar-bg-dark mb-4" role="navigation">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="user-info">
        <p class="nav-item user">
            <%= username %>
        </p>
        <p class="nav-item userId">
            ID:<%= userId %>
        </p>
    </div>
    <img src="https://cdn.discordapp.com/avatars/<%= userId %>/<%= avatar %>.png" class="user-discord-pfp">
</div>