<div class="navbar navbar-expand-md navbar-dark topbar-bg-dark mb-4" role="navigation">
    <button class="fa-solid fa-bars menu-icon" id="topbar-menu-btn"></button>
    <div class="theme-switch">
        <p class="theme-switch-title" id="theme-switch-title">Light On</p>
        <div class="form-check form-switch">
            <input class="form-check-input light" type="checkbox" role="switch" id="theme-switch"
                onchange="toggleTheme()">
        </div>
    </div>

    <div class="nav-logo-topbar">
        <img src="../images/chd-logo.webp" class="nav-logo-img-topbar" id="nav-logo-img-topbar" alt="logo">
        <p id="nav-text-one-topbar">CH</p>
        <p id="nav-text-two-topbar">Dashboard</p>
    </div>

    <ul class="navbar-nav mr-auto">
    </ul>

    <div class="topbar-right-wrapper">
        <div class="user-info">
            <p class="nav-item user">
                <%= username %>
            </p>
            <p class="nav-item userId">
                ID: <%= userId %>
            </p>
        </div>

        <div class="dropstart profile-dropdown" id="profile-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://cdn.discordapp.com/avatars/<%= userId %>/<%= avatar %>.webp" class="user-discord-pfp"
                alt="avatar">
            <button class=" fa-solid fa-angle-down" id="profile-dropdown-chevron"></button>
            <ul class="dropdown-menu" id="dropdown-menu">
                <li onclick="location.href='/privacy'"><i class="fa fa-masks-theater"></i>Privacy Policy</li>
                <hr class="content-box-separator">
                <li onclick="location.href='/auth/logout'"><i class="fa fa-power-off fa-2x"></i>Logout</li>
            </ul>
        </div>
    </div>
</div>