<nav class="navbar navbar-expand-lg bg-light top-bar">
    <div class="container-fluid">
        <a class="nav-brand" href="/">CreatorHub</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-bars nav-menu-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link" aria-current="page">
                        <i class="bi bi-house nav-icon"></i>
                        Dashboard
                    </a>
                </li>
                <% if (isStaff) { %>
                <li class="nav-item">
                    <a href="/applications" class="nav-link" aria-current="page">
                        <i class="bi bi-menu-button nav-icon"></i>
                        Staff Applications
                    </a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a href="/apply" class="nav-link" aria-current="page">
                        <i class="bi bi-menu-button nav-icon"></i>
                        Staff Applications
                    </a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a href="/creatorcrew" class="nav-link" aria-current="page">
                        <i class="fa-regular fa-chess-king nav-icon"></i>
                        Creator Crew Queue
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/leaderboards/ranks" class="nav-link" aria-current="page">
                        <i class="bi bi-trophy nav-icon"></i>
                        Rank Leaderboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/leaderboards/messages" class="nav-link" aria-current="page">
                        <i class="bi bi-chat-dots nav-icon"></i>
                        Message Leaderboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/leaderboards/lastletter" class="nav-link" aria-current="page">
                        <i class="bi bi-dpad nav-icon"></i>
                        Last Letter Leaderboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/leaderboards/counting" class="nav-link" aria-current="page">
                        <i class="bi bi-controller nav-icon"></i>
                        Counting Leaderboard
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://cdn.discordapp.com/avatars/<%= userId %>/<%= avatar %>.webp" alt="" width="32"
                        height="32" class="rounded-circle me-2">
                    <%= username.slice(0, 20) %>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <% if (isStaff) { %>
                    <li><a class="dropdown-item" href="/admincp">AdminCP</a></li>
                    <% } %>
                    <div class="theme-switch">
                        <p class="theme-switch-title" id="theme-switch-title">Light On</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input light" type="checkbox" role="switch" id="theme-switch"
                                onchange="toggleTheme()">
                        </div>
                    </div>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/auth/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>